{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
    <div id="chat-container">
        <h1>Chat con {{ receiver }}</h1>

        <div id="chat-messages">
            {% for message in messages %}
                <div class="chat-message {% if message.sender == request.user %}sent-message{% else %}received-message{% endif %}">
                    <p>{{ message.sender }}: {{ message.message }}</p>
                </div>
            {% endfor %}
        </div>

        <form id="chat-form" action="{% url 'send_message' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="receiver_id" value="{{ receiver_id }}">
            <input type="text" name="message" placeholder="Escribe tu mensaje...">
            <button type="submit">Enviar</button>
        </form>
    </div>
{% endblock %}